.navbar {
  background-color: rgb(11, 11, 11);
}

.navbar-text,
.navbar-brand,
.nav-link {
  color: white;
}
.navbar-brand:hover {
  color: #ff6a00;
}

.nav-link:hover {
  color: #ff6a00;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ff6a00;
  height: 100vh;
  position: relative;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.custom-bg-color {
  background-color: #ff6a00;
}

/* Media Query ketika dibuka di mobile */
@media (max-width: 576px) {
  .btn-github {
    width: 90%;
  }

  .navbar {
    background-color: black !important;
  }
}
